h2 {
    text-align: center;
    margin-bottom: 20px;
}

.blog-filter-container {
    width: 430px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    gap: 10px;
    margin: 20px auto;
    background-color: #e6f9e6;
    padding: 15px;
    border-radius: 8px;
}

.nav-input {
    padding: 10px;
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 690px;
    margin: 0 auto;
    margin-top: 30px;
}